*{
    padding: 0;
    margin: 0;
} 
header{
    /*flex--horizonal
     block--vertical 
     align-items: top , center y bottom -- (arriba abajo)
     justify-content:start,center, end,space-between(entre),space-around (alrededor)--(izquierda a derecha)*/
    display: flex;
    align-items: center;
    justify-content:space-around ;
    margin: 30px;
}
body{
    background-color: #F6F6FE;
}
.nav-a{
    text-decoration: none;
    color: #5D5FEF;
    font-weight: 600;
}
nav{
    padding: 5px;
}
.download{
    background-color: #5D5FEF;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}
.download1{
    background-color: #5D5FEF;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    position: relative;
    right: 220px;

}
.imagen-principal{
    /*vw -- view weight = ancho*/
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.contenedor-medio-arriba{
    display: block; 
    justify-content: center;
    text-align: center;
    margin: 20px;
  
}
.contenedor-medio-abajo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin: 20px;
}

.contenedor-articulo{
   
    margin: 0 auto;
    display: block;
    justify-content: space-around;
}
.imagenes-art{
    width: 300px;
}
.texto-articulo{
    text-align: center;
}
.contenedor-articulo-medio{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.texto-parrafo-abajo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-top: 50px;
}
.contenidos{
    border: 1px solid teal;
    background-color: #5D5FEF;
    color: #F6F6FE;
    height: 200px;
   padding: 20px;
   display: flex;
    
}
.contenedor1-primario{
    display: flex;
    flex-direction: column;
}
.link-footer{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}